.abifertig {
    display: flex;
    font-family: 'Epilogue';
    justify-content: space-evenly;
    margin: 6.94vw 5px 0px 5vw;
}

.abifertig-text {
    margin-left: 21vw;
}

.abifertig-text-h1 {
    font-weight: 800;
    font-size: 4vw;
    line-height: 64px;
}

.abifertig-text-h6 {
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 2.22vw;
}

.abifertig-text-paragraph {
    color: #4C5C65;
    width: 32.63vw;
    height: 16.18vw;
    font-weight: 400;
    font-size: 1.38vw;
    line-height: 2.2vw;
}
.abifertig-text-button{
    width: 138px;
    height: 48px;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
}

.abifertig-text-button:hover{
    border: 2px solid #28293E;
    cursor: pointer;
}