nav {
    top: 30px;
    display: flex;
    font-family: 'Epilogue';
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-items: baseline;
}

.nav-logo {
    height: 10vmin;
    margin: 10px 50px 50px 50px;
    align-self: center;
}
.nav-list {
    list-style-type: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    text-underline-offset: 3px;
    margin: 10px 50px 50px 0px;
}
.nav-list > li {
    display: inline-block;
    color: #391400;
    padding: 10px 50px;
    border-bottom: 3px #000000 solid;
}

.nav-list > li:hover {
    border-bottom: 3px #EF6D58 solid;
    cursor: pointer;
}

.nav-button {
    font-weight: 900;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 30px;
    background-color: #EF6D58;
    border: none;
    margin: 10px 50px 50px 50px;
    height: 3em;
    width: 9em;
}

.nav-button:hover {
    border: 2px solid #28293E;
    cursor: pointer;
}